# 这里列出忽略代码规范检测的目录和文件
# node_modules bower_components 默认被忽略
# 发布目录
dist/**/*
build/**/*
# 类库目录
**/lib/**/*
# 插件目录
**/plugins/**/*
# 第三方代码目录
**/vendor/**/*
# letv 老代码
**/letv/**/*
**/abc.js
**/letv_core.js
# lithe 加载器代码
**/lithe.js
**/config.js
