html,
body{font-size: 100%;min-height: 100%;-webkit-text-size-adjust:none;}
/*关于font-size,移动端浏览器对10像素字号支持有差异，so,100%==16px，如果为嵌入app的H5建议设置：62.5%==10px*/
body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica;line-height: 1;}
article,aside,blockquote,body,button,dd,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;-webkit-text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
li{list-style:none}
img{border:0}
article,aside,footer,header,hgroup,menu,nav,section{display:block}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);outline: 0;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}


