/**
 * @fileoverview 规则测试文件，列举项目中常见的错误
 * @authors guopeihe
 * @date 2017/03
 */
/*不同的提示规则*/
/* Parsing errors should be fixed
The most important rule, as far as CSS Lint is concerned, is to ensure there are no parsing errors in the CSS. Parsing errors usually mean you mistyped a character and caused the code to become invalid CSS. These errors may cause the browser to drop a property or an entire rule. Parsing errors are always presented as errors by CSSLint, the most important issues to fix.

*/

/* https://github.com/CSSLint/csslint/wiki/Rules */
/* Possible Errors

1 解析错误
解析错误通常是大多因为拼写错误，一般会导致属性或者整条规则失效。这是最需要解决的问题

2 可能会出现的解析错误
box-model: Beware of box model size
display-property-grouping: Require properties appropriate for display
duplicate-properties: Disallow duplicate properties
empty-rules: Disallow empty rules
known-properties: Require use of known properties

3 兼容错误
adjoining-classes: Disallow adjoining classes
box-sizing: Disallow box-sizing
compatible-vendor-prefixes: Require compatible vendor prefixes
gradients: Require all gradient definitions
text-indent: Disallow negative text-indent
vendor-prefix: Require standard property with vendor prefix
fallback-colors: Require fallback colors
star-property-hack: Disallow star hack
underscore-property-hack: Disallow underscore hack
bulletproof-font-face: Bulletproof font-face (new in v0.9.10)

4 性能优化建议
font-faces: Don't use too many web fonts
import: Disallow @import
regex-selectors: Disallow selectors that look like regular expressions
universal-selector: Disallow universal selector
unqualified-attributes: Disallow unqualified attribute selectors
zero-units: Disallow units for zero values
overqualified-elements: Disallow overqualified elements
shorthand: Require shorthand properties
duplicate-background-images: Disallow duplicate background images


5 可维护性和代码可读性
floats: Disallow too many floats
font-sizes: Don't use too many font-size declarations
ids: Disallow IDs in selectors
important: Disallow !important
order-alphabetical: Disallow non alphabetical
Accessibility

6 可访问性优化
outline-none: Disallow outline:none
*/



/* 严禁使用 !importan */
/* The !important annotation is used to artificially increase the specificity of a given property value in a rule. This is usually an indication that the specificity of the entire CSS has gotten a bit out of control and needs to be refactored. The more frequently !important is found in CSS, the more likely it is that developers are having trouble styling parts of a page effectively. */
.mybox {
    color: red !important;
}

/*避免使用交集选择器 adjoining-classes */
.foo {
    font-weight: bold;
}

.bar {
    padding: 10px;
}

.foo.bar {
    color: red;
}
    /*可以新增样式*/
    .baz{
        color:red;
    }

/* 使用已知的属性值 known-properties */
/* clr isn't a known property */
a {
    clr: red;
}

/* 'foo' isn't a valid color */
a {
    color: foo;
}

/* 注意使用盒模型尺寸 box-sizing  */
/* 盒模型的宽高默认是内容区域 content-box,注意使用后的宽高变化 */
.mybox {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}
.mybox {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

/* 不要过度定义 */
div.mybox {
    color: red;
}

.mybox li.active {
    background: red;
}

/*display多属性组合*/
/*display-property-groupin*/
/*
display: inline used with width, height, margin, margin-top, margin-bottom, and float.
display: inline-block used with float.
display: block used with vertical-align.
display: table-* used with margin (and all variants) or float.
*/
/* 下面会引发警告 */
/* inline with height */
.mybox {
    display: inline;
    height: 25px;
}

/* inline-block with float */
.mybox {
    display: inline-block;
    float: left;
}

/* table-cell and margin */
.mybox {
    display: table-cell;
    margin: 10px;
}
/* 下面的属性是合适的 */
/* inline with margin-left */
.mybox {
    display: inline;
    margin-left: 10px;
}

/* table and margin */
.mybox {
    display: table;
    margin-bottom: 10px;
}


/* font face  */
/*
    使用多个字体格式时，在旧的 IE版本中会引发 404，我们需要使用查询字符串在修正
*/
/* 下面会引起低版本的 IE 浏览器报404错误 */
@font-face {
    font-family: 'MyFontFamily';
    src: url('myfont-webfont.eot') format('embedded-opentype'),
        url('myfont-webfont.woff') format('woff'),
        url('myfont-webfont.ttf')  format('truetype'),
        url('myfont-webfont.svg#svgFontName') format('svg');
}
/*修正方法 增加查询字符*/
@font-face {
    font-family: 'MyFontFamily';
    src: url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
        url('myfont-webfont.woff') format('woff'),
        url('myfont-webfont.ttf')  format('truetype'),
        url('myfont-webfont.svg#svgFontName') format('svg');
}

/*浏览器前缀*/
/*下面这些属性需要浏览器前缀，如果没有前缀会有警告
animation
animation-delay
animation-direction
animation-duration
animation-fill-mode
animation-iteration-count
animation-name
animation-play-state
animation-timing-function
appearance
border-end
border-end-color
border-end-style
border-end-width
border-image
border-radius
border-start
border-start-color
border-start-style
border-start-width
box-align
box-direction
box-flex
box-lines
box-ordinal-group
box-orient
box-pack
box-sizing
box-shadow
column-count
column-gap
column-rule
column-rule-color
column-rule-style
column-rule-width
column-width
hyphens
line-break
margin-end
margin-start
marquee-speed
marquee-style
padding-end
padding-start
tab-size
text-size-adjust
transform
transform-origin
transition
transition-delay
transition-duration
transition-property
transition-timing-function
user-modify
user-select
word-break
writing-mode
*/

/* 禁止使用正则表达式的选择符 */
/* css3 增加了复杂的属性值选择符让你通过使用正则表达式寻找匹配的属性值的选择符，这会引发性能问题。 */
/* OK */
a[rel=external] {
    color: blue;
}
a[href*=yahoo.com] {
    color: green;
}

/* 第一种情况 包含  *=  */
a[href*=yahoo.com] {
    color: green;
}
/* 下面所有的形式都会匹配 */
/*
<a href="http://www.yahoo.com/">Yahoo!</a>
<a href="http://www.google.com/redirect=www.yahoo.com">Redirect to Yahoo!</a>
<a href="http://login.yahoo.com/">Login to Yahoo!</a>
*/
/* 第二种情况 以关键字开始  ^=  */
a[rel^=ext] {
    color: red;
}

/* 会匹配下面的形式 */
/*
<a href="http://www.example.com" rel="external">Example</a>
<a rel="extra">Extra! Extra!</a>
<a rel="extreme">Extreme</a>
*/
/* 第三种情况 以关键字结束  $=  */
a[href$=.html] {
    color: blue;
}
/*  下面的都会匹配
<a href="index.html">Home</a>
<a href="http://www.example.com/example.html">Example</a>
*/
/* 第四种情况 文字匹配  ~=  */
a[rel~=external] {
    color: red;
}
/*
<a href="http://www.example.com" rel="external">Example</a>
<a href="http://www.example.com" rel="external me">Example</a>
<a href="http://www.example.com" rel="reference external">Example</a>
<a href="http://www.example.com" rel="friend external me">Example</a>
*/

/* 第五种情况 关键字被横线分隔 Dashes  ~=  */
a[data-info|=name] {
    color: red;
}
/*
会匹配下面的情况
<a data-info="name-address-phone">Info</a>
<a data-info="address-name-phone">Info</a>
<a data-info="address-phone-name">Info</a>
*/


/*重复定义背景*/
/* 尽可能减少文件大小，多次引用一个 url 会出警告 */
.heart-icon {
    background: url(sprite.png) -16px 0 no-repeat;
}

.task-icon {
    background: url(sprite.png) -32px 0 no-repeat;
}

/* 对一个属性多次定义 */
.mybox {
    width: 100px;
    width: 120px;
}
/* properties with the diffrent value */
.mybox {
    border: 1px solid black;
    border: 1px solid red;
}

/* 严禁使用空规则 */
.foo {
    /*comment*/
}

/* 渐变需要满足所有情况 */
/*
-ms-linear-gradient and -ms-radial-gradient for Internet Explorer 10+
-moz-linear-gradient and -moz-radial-gradient for Firefox 3.6+
-o-linear-gradient and -o-radial-gradient for Opera 11.10+
-webkit-linear-gradient and -webkit-radial-gradient for Safari 5+ and Chrome
-webkit-gradient for Safari 4+ and Chrome (aka "Old WebKit")
*/

div{
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
}

/* Missing -moz, -ms, and -o */
.mybox {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

/* Missing old and new -webkit */
.mybox {
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

.mybox {
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

/* 颜色降级 */
/* 颜色的表达方式 16进制  颜色名称 rgba hsla  */
.box {
    background: #000;
    color: rgba(100, 100, 200, 0.5); /*低级浏览器无效*/
}
.box {
    background: #000;
    color: blue; /*降级方案*/
    color: rgba(100, 100, 200, 0.5);
}

/* 不要有太多的字号声明，一个站点中一般定义好一组  */
/* 这种情况在响应式页面中可能不适用 */
.small {
    font-size: 8px;
}

.medium {
    font-size: 11px;
}

.large {
    font-size: 14px;
}

/* 禁止使用星号 star hack 和 underscore */
.mybox {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    *width: 200px;
}
.mybox {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    _width: 200px;
}


/* 禁止使用 outline:none */
/* outline:none 影响可访问性，如果移除 outline，可以有替代方案 */
a:focus {
    border: 1px solid red;
    outline: none;
}

/* 禁止使用 @import */
/* 当页面解析 import 时，其它的加载会停止，直到被加载的内容全部加载完毕 */
@import url(more.css);
@import url(andmore.css);

a {
    color: black;
}

/* 严禁使用 ID 选择器 */
#header a {
    color: black;
}

/*＊＊＊＊＊＊ 不要真对模块定义 标题元素 ＊＊＊＊*/
/* qualified heading */
.box h3 {
    font-weight: normal;
}

/* qualified heading */
.item:hover h3 {
    font-weight: bold;
}

/* 使用属性简写方式 */
.mybox {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.mybox {
    margin: 20px 10px 30px;
}

/* text-indent 使用负值 */
/* missing direction */
.mybox {
    text-indent: -999em;
}

/* direction is rtl */
.mybox {
    direction: rtl; /* 注意文字排列方向 */
    text-indent: -999em;
}

/* 禁止使用通配符 ＊ */
.mybox * {
    background: #fff;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}

/* 禁止使用不合格的属性值选择符 */
/* 和通配符类似，右边的都会被选中 */
.mybox [type=text] {
    background: #fff;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}

/* 浏览器前缀 */
/* missing standard property */
.mybox {
    -moz-border-radius: 5px;
}

/* standard property should come after vendor-prefixed property */
.mybox {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* both vendor-prefix and standard property */
.mybox {
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* 值为 0 时，不用带单位 */
/* 下面会提示 */
.mybox {
    margin: 0px;
}

.mybox {
    width: 0%;
}

.mybox {
    padding: 10px 0px;
}
/* 下面会提示 */
.mybox {
    margin: 0;
}

.mybox {
    padding: 10px 0;
}
